<!-- FAQ Modal -->
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="FAQ">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Preguntas Frecuentes</h2>
                                <p class="text-center item-intro" style="color: rgb(3,129,241);"><br>1. ¿Cómo hacer mi
                                    compra?</p>
                                <p style="text-align: justify;">En nuestra pagina POOLMEX te sugerimos que sigas las
                                    siguientes instrucciones para realizar una compra:<br><br>1.&nbsp;&nbsp;Navega por
                                    el sitio web y BUSCA los productos que sean de tu interés.<br><br>2.&nbsp;&nbsp;Una
                                    vez que hayas encontrado los productos que buscabas, dale clic en el botón de
                                    “AGREGAR AL CARRITO”.<br><br>3.&nbsp;&nbsp;Cuando hayas agregado el/los producto(s),
                                    presiona el botón "IR AL CARRITO" para iniciar con
                                    tu proceso de compra. Dentro de tu carrito podrás elegir si quieres que sea entrega
                                    a domicilio o recoger en tienda.<br><br>4.&nbsp;&nbsp;Asegúrate de que los productos
                                    que están dentro de tu carrito sean los que
                                    elegiste. Cambia las cantidades o elimina los productos que no desees. Una vez
                                    verificado da clic en el botón "PAGAR" para proseguir con la
                                    compra.<br><br>5.&nbsp;&nbsp;Completa tus datos de contacto, dirección
                                    de entrega y haz clic en “CONTINUAR”.<br><br>6.&nbsp;&nbsp;Elige tu forma de pago
                                    (la que mejor te convenga).<br><br>7.&nbsp;&nbsp;Asegúrate de que tu pedido sea
                                    correcto (Tus productos, datos personales, forma
                                    de pago, dirección de entrega, monto a pagar). Una vez verificado, haz clic en
                                    “CONFIRMAR COMPRA”<br><br>8.&nbsp;&nbsp;POOLMEX agradece tu confianza y preferencia.
                                    En breve recibirás un correo electrónico con la
                                    información de tu compra.<br><br>En caso de haber elegido la opción “RECOGER EN
                                    TIENDA”, contaras con un término un término de 7 días para recoger tu pedido
                                    contados a partir del día siguiente de la recepción del
                                    correo de confirmación. Deberás presentar el número de pedido y una identificación
                                    oficial para recoger tus productos.<br><br></p>
                                <hr>
                                <p class="item-intro" style="color: rgb(3,129,241);"><br>2.&nbsp;Medios de pago<br></p>
                                <p style="text-align: justify;">En POOLMEX contamos con los mejores medios de pago para
                                    que tengas a la<br>mano muchas alternativas para pagar tus
                                    compras.<br><br><strong>Pagos&nbsp;en efectivo</strong><br><br>Realiza tu pago en el
                                    banco o establecimiento
                                    de tu elección.<br><br>1.&nbsp;Elige en qué establecimiento quieres pagar:
                                    Santander, Banamex o Bancomer.<br><br>2.&nbsp;Continúa con el proceso de compra. Al
                                    finalizar tu compra recibirás un correo electrónico
                                    con la información para que realices el depósito. Te recomendamos imprimirla para
                                    pagar.<br><br>3.&nbsp;Haz el depósito en el establecimiento elegido. Recuerda que
                                    después de pagar, el tiempo para su acreditación
                                    es de 48 horas hábiles como máximo.<br><br>4. Una vez acreditado el pago te
                                    enviaremos un correo confirmando la facturación de la compra y la información del
                                    envío.<br><br><strong>Tarjeta&nbsp;de crédito o débito</strong><br><br>Compra
                                    con la tarjeta del banco de tu preferencia.<br><br>1.&nbsp;Elige pagar con tu
                                    <strong>tarjeta&nbsp;de</strong> <strong>crédito o débito Visa, Mastercard o
                                        American Express</strong>.<br><br>2.&nbsp;Ingresa el número
                                    de tarjeta, nombre del titular, fecha de vencimiento y el CVV de 3 dígitos. Recuerda
                                    que el CVV para tarjetas de American Express se compone de 4
                                    dígitos.<br><br>3.&nbsp;Una vez finalizada tu compra recibirás un
                                    correo electrónico confirmando la facturación de la compra y la información del
                                    envío. En algunos casos, los pagos pasan por un proceso de revisión y de ser
                                    necesario te contactaremos por teléfono o
                                    correo.<br><br><strong>Medios&nbsp;digitales</strong><br><br>Para
                                    realizar tu pago sigue los siguientes pasos:<br><br>1.&nbsp; Elige pagar con
                                    <strong>PayPal&nbsp;o Visa Checkout</strong> y haz clic en “Paga con PayPal” o “Paga
                                    con Visa Checkout”.<br><br>2.&nbsp;Serás redireccionado
                                    al portal oficial del método que elegiste.<br><br>3. Ingresa los datos de tu cuenta
                                    Paypal o Visa Checkout, o crea una nueva cuenta y verifica los datos de tu
                                    compra.<br><br>4. Al terminar tu compra regresarás a
                                    nuestro sitio web, donde te daremos información de tu pedido.<br><br>5.&nbsp;Una vez
                                    finalizada tu compra recibirás un correo electrónico confirmando la facturación de
                                    la compra y la información del envío.<br><br></p>
                                <hr>
                                <p class="item-intro" style="color: rgb(3,129,241);"><br>3. ¿Cómo se realizan los
                                    envíos?</p>
                                <p style="text-align: justify;">Contamos con envíos a toda la República Mexicana por
                                    medio de paqueterías seguras y confiables. Las compras son enviadas de manera
                                    inmediata y tardan de 3 a 5 días hábiles aproximadamente en llegar a su
                                    destino.&nbsp;<br><br>Los
                                    envíos realizados a nivel Nacional en México son totalmente gratis.<br><br>Si vives
                                    fuera de la República Mexicana manda un mail a hola@poolmex.com.mx indicando la
                                    dirección con código postal a la que deseas que
                                    te llegue tu orden de compra para indicarte el costo de envío.<br><br></p>
                                <hr>
                                <p class="item-intro" style="color: rgb(3,129,241);"><br>4. ¿Cómo puedo rastrear mi
                                    paquete?</p>
                                <p style="text-align: justify;">Te enviaremos tu número de guía y la compañía a través
                                    de la que se envió el paquete para que puedas rastrearlo directamente con la
                                    compañía de paquetería.<br><br></p>
                                <hr>
                                <p class="item-intro" style="color: rgb(3,129,241);"><br>5. ¿Cómo puedo solicitar la
                                    factura de mi compra?</p>
                                <p style="text-align: justify;">Te enviaremos tu número de guía y la compañía a través
                                    de la que se envió el paquete para que puedas rastrearlo directamente con la
                                    compañía de paquetería.<br><br>Para solicitar tu factura&nbsp;por favor envíanos tus
                                    datos&nbsp;a hola@poolmex.com.mx indicando los siguientes datos:<br><br>Asunto:
                                    Solicitud de factura<br><br>No. de pedido, razón social, RFC, dirección (calle,
                                    número de interior, número de exterior, colonia, municipio,
                                    código postal), uso de la factura y tu e-mail.<br><br>Te haremos llegar tu factura
                                    antes del cierre de cada mes.<br></p>
                                <ul class="list-unstyled"></ul><button class="btn btn-primary" data-dismiss="modal"
                                    type="button"><i class="fa fa-times"></i><span> Cerrar</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Privacy Modal -->
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="Privacy">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Políticas</h2>
                                
                                <p class="item-intro" style="color: rgb(3,129,241);">Políticas de Privacidad</p>
                                <p style="text-align: justify;">En POOLMEX respetamos la privacidad de nuestros clientes
                                    y usuarios de nuestro sitio web por lo tanto hemos establecido algunas políticas de
                                    privacidad para asegurar que su información personal sea manejada de manera
                                    responsable. Al usar nuestro sitio web, usted autoriza la recolección y el uso de
                                    esta información por POOLMEX.&nbsp;<br><br>Nos comprometemos a asegurar la
                                    privacidad de la información personal obtenida a través
                                    de sus servicios en línea. No obstante, le sugerimos leer la información descrita a
                                    continuación para entender el tratamiento de los datos
                                    proporcionados.&nbsp;<br><br>Se solicitará información como: <br><br>&nbsp;&nbsp;
                                    &nbsp;•&nbsp;&nbsp; &nbsp;Nombre (s) y
                                    apellidos.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp; &nbsp;•&nbsp;&nbsp;
                                    &nbsp;Correo
                                    electrónico.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>&nbsp; &nbsp; •&nbsp;&nbsp; &nbsp;Domicilio. <br>&nbsp;&nbsp;
                                    &nbsp;•&nbsp;&nbsp; &nbsp;Teléfono. <br>&nbsp;&nbsp; &nbsp;•&nbsp;&nbsp; &nbsp;Datos
                                    fiscales para elaboración de facturas.<br><br>La información
                                    solicitada permitirá contactar a los clientes cuando sea necesario. Los usuarios
                                    podrán ser contactados por teléfono o correo electrónico en caso de que se requieran
                                    datos adicionales para completar alguna transacción.&nbsp;<br><br>Utilizaremos
                                    esta información para confirmar y procesar las transacciones de venta y mantener
                                    contacto con usted, responder preguntas sobre su pedido y/o alguna cuestión
                                    relacionada con el servicio al cliente. También utilizaremos
                                    esta información para mejorar y personalizar su experiencia de compra, así como le
                                    haremos saber cuándo existan promociones o estrenos.&nbsp;<br><br>La seguridad y la
                                    confidencialidad de los datos que los usuarios
                                    proporcionen al comprar un producto en línea estarán protegidos por un servidor
                                    seguro bajo el protocolo Secure Socket Layer (SSL), de tal forma que los datos
                                    enviados se transmitirán encriptados para asegurar su
                                    resguardo.&nbsp;<br><br>Las cookies son pequeñas piezas de información que son
                                    enviadas por el sitio web al navegador. Se almacenan en el disco duro de los equipos
                                    y se utilizan para determinar las preferencias
                                    de los usuarios que acceden a nuestro sitio, así como para rastrear determinadas
                                    actividades.&nbsp;<br><br>Las cookies permiten reconocer a los usuarios, detectar el
                                    ancho de banda que han seleccionado, conocer
                                    la configuración personal del sitio, identificar la información más destacada,
                                    calcular el tamaño de la audiencia y medir algunos parámetros de
                                    tráfico.<br><br>Puede negarse a aceptar cookies activando la configuración
                                    en su navegador. No obstante, si selecciona esta configuración, quizás no pueda
                                    acceder a determinadas partes del Sitio Web.<br><br>
                                    <br>Cuando el usuario se encuentre en el sitio ______________
                                    compartirá su información con POOLMEX salvo que se especifique lo
                                    contrario.<br><br>POOLMEX no tiene obligación alguna de mantener confidencial
                                    cualquier otra información que el usuario proporcione por medio de
                                    pláticas en línea (chats), mensajes, correos y/o llamadas, así como a través de las
                                    cookies, lo anterior con base en los términos establecidos en el artículo 109 de la
                                    Ley Federal del Derecho de Autor y del artículo
                                    76 bis, fracción I, de la Ley Federal de Protección al Consumidor.<br><br>Sólo se
                                    podrá difundir la información en casos especiales, como identificar, localizar o
                                    realizar acciones legales contra aquellas personas
                                    que infrinjan las condiciones de servicio del sitio web ( ____________), causen
                                    daños a, o interfieran en los derechos de POOLMEX, sus propiedades, de otros
                                    usuarios del portal o de cualquier persona que pudiese
                                    resultar perjudicada por dichas acciones.&nbsp;<br><br>POOLMEX se reserva el derecho
                                    de efectuar en cualquier momento, modificaciones en las presentes políticas de
                                    privacidad y adaptarlas a novedades legislativas,
                                    jurisprudenciales, así como a prácticas del mercado. Queda bajo responsabilidad del
                                    usuario leer periódicamente las políticas de privacidad para estar al tanto de
                                    dichas modificaciones, las cuales al ser introducidas
                                    en el sitio web entrarán automáticamente en vigor.<br></p><button
                                    class="btn btn-primary" data-dismiss="modal" type="button"><i
                                        class="fa fa-check"></i><span>&nbsp;Lo comprendo</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Terms & Conditions Modal -->
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="Terms">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <p class="item-intro" style="color: rgb(3,129,241);">Cambios y Devoluciones</p>
                                <p style="text-align: justify;">1. Podrás realizar tu cambio o devolución dentro de los
                                    15 días naturales a partir de que realices tu compra. Toma en cuenta que nuestros
                                    productos deberán estar en óptimas condiciones y sin marcas o señas de
                                    uso.<br><br>2. En caso de solicitar cambio, este podrá realizarse por cualquier otro
                                    modelo y estará sujeto a existencias. Para solicitar tu cambio por favor envía un
                                    email a&nbsp;_____________ indicándonos tu fecha
                                    de compra, modelo y el motivo por el que deseas realizar el cambio. El costo de
                                    envío por cambio correrá por cuenta del cliente.<br><br>3. Las devoluciones podrán
                                    solicitarse únicamente por defecto de fábrica 30
                                    días naturales posteriores a la compra. Para solicitar una devolución por favor
                                    manda un email a&nbsp;__________&nbsp;explicando el motivo de la devolución y con
                                    una foto adjunta del defecto. Este se realizará únicamente
                                    del costo del producto, no incluye costo de envío.<br><br>4. Si al realizar un
                                    cambio o devolución, el producto se encuentra abierto, se revisará el mismo y en
                                    caso de haber daños o maltrato se aplicara un cargo
                                    del 20% sobre el precio pagado por la compra.<br><br>5. Si deseas solicitar un
                                    cambio de domicilio en tu envío deberá realizarse antes de que el paquete haya
                                    salido al destino. Si el paquete ya está en ruta y quieres
                                    cambiar el destino final de entrega, se deberá solicitar una devolución a la ciudad
                                    de origen. Una vez que el paquete regrese a nuestras oficinas, se deberá pagar una
                                    nueva guía por parte del Cliente e indicarnos
                                    el nuevo domicilio al que deseas que llegue.<br><br>Si tienes cualquier duda puedes
                                    contactarnos en&nbsp;_____________&nbsp;¡Con gusto te ayudaremos en lo que
                                    necesites!<br><br></p>
                                <hr><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>